<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <title>Menu</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <style>
    .containerCard {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      /* Ajusta a posição no eixo vertical */
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      /* Garante que todos os cards tenham a mesma altura */
      height: 100%;
      /* Isso vai fazer todos os cards terem a mesma altura */
      min-height: 380px;
      max-width: 15rem;
      width: auto;
      position: relative;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .card-img-top {
      width: 100%;
      height: 50%;
      /* Limita a altura da imagem */
      object-fit: cover;
      /* Garante que a imagem se ajuste sem distorção */
      background-color: #B6E094;
    }

    .card-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .buttonPrimary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 30%;
    }
  </style>
</head>

<body>
  <div id="app-menu" class="d-flex flex-column justify-content-center align-items-center min-vh-100">

    <!-- Modal Cadastrar -->
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Inputs de produto -->
              <div class="mb-3">
                <label for="item-code" class="form-label">Código de barras do produto</label>
                <input type="number" class="form-control" id="item-code" placeholder="O código de barras deve conter pelo menos 8 dígitos" v-model="itemCodeRegister" @input="handleInput"
                min="10000000" pattern="\d{8,}" title="O código de barras deve conter pelo menos 8 dígitos" pattern="\d*" required>
              </div>

              <div v-if="!isFetchingLoader">
                <div class="mb-3">
                  <label for="item-name" class="form-label">Nome do item</label>
                  <input type="text" class="form-control" id="item-name" :placeholder="itemPlaceholder" v-model="itemNameRegister" required :disabled="isDisabled">
                </div>

                <div class="mb-3">
                  <label for="item-brand" class="form-label">Marca do item</label>
                  <input type="text" class="form-control" id="item-brand" placeholder="Digite a marca" v-model="itemBrandRegister" required :disabled="isDisabled">
                </div>

                <div class="mb-3">
                  <label for="item-weight" class="form-label">Peso ou volume do item</label>
                  <input type="number" class="form-control" id="item-weight" placeholder="Digite o peso/volume" v-model="itemWeightRegister"
                min="1" title="O peso/volume do produto deve ser um número inteiro maior que zero" pattern="\d*" required :disabled="isDisabled">
                </div>

                <!-- Dropdown de unidade -->
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputProductUnit">Unidade de medida do produto</label>
                  <select class="form-select" id="inputProductUnit" v-model="selectedUnitRegister" :disabled="isDisabled">
                  <option disabled value="">Escolha...</option>
                  <option :value="item.title" v-for="item in unitRegister" :key="item.id">{{ item.title }}</option>
                </select>
                </div>

                <!-- Dropdown de categoria -->
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">Categoria do produto</label>
                  <select class="form-select" id="inputGroupSelect01" v-model="selectedCategoryRegister" :disabled="isDisabled">
                  <option disabled value="">Escolha...</option>
                  <option :value="item.title" v-for="item in itemsRegister" :key="item.id">{{ item.title }}</option>
                </select>
                </div>
              </div>

              <div v-else class="d-flex justify-content-center align-items-center flex-column mt-3">
                <div class="alert alert-success text-center mb-2">Buscando dados na API...</div>
                <div class="spinner-border text-success" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>

              <!-- Mensagem de sucesso -->
              <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

              <!-- Mensagem de erro -->
              <div v-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>

              <!-- Loader ou botão de cadastro -->
              <div class="loader-container mb-3">
                <!-- Exibe o botão enquanto o loading é falso -->
                <button type="button" class="btn btn-primary mt-2 buttonPrimary" @click="registerProduct" v-if="!loadingRegister && !isFetchingLoader">
                  Cadastrar produto
                </button>

                <!-- <button type="button" class="btn btn-warning mt-2 buttonPrimary" @click="toggleDisabled" v-if="!loadingRegister && !isFetchingLoader && fetchingSuccess">
                  <span v-if="isDisabled">Alterar dados vindos da API</span>
                  <span v-else>Bloquear os campos</span>
                </button>


                <button type="button" class="btn btn-warning mt-2 buttonPrimary" @click="toggleDisabled" v-if="!loadingRegister && !isFetchingLoader && !fetchingSuccess">
                  <span v-if="isDisabled">Alterar os campos</span>
                  <span v-else>Bloquear os campos</span>
                </button> -->


                <!-- Exibe o loader enquanto loading é true -->
                <div class="d-flex justify-content-center">
                  <div class="spinner-border text-succes" role="status" v-show="loadingRegister">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>
    <!-- Modal Cadastrar -->

    <!-- Modal Consultar Produto -->
    <div class="modal fade" id="staticBackdrop0" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateProductLabel">Consultar Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Input para buscar o código de barras -->
              <div class="mb-3">
                <label for="search-code" class="form-label">Código de barras do produto</label>

                <input type="number" class="form-control" id="search-code" placeholder="O código de barras deve conter pelo menos 8 dígitos" v-model="itemCodeSearch" min="10000000" pattern="\d{8,}" title="O código de barras deve conter pelo menos 8 dígitos" pattern="\d*" required>

                <div class="loader-container mb-3">
                  <button type="button" class="btn btn-primary mt-2 buttonPrimary" @click="fetchProductData" v-if="!loadingSearch">Buscar Produto</button>
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-succes" role="status" v-show="loadingSearch">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Exibe os campos de atualização se o produto for encontrado -->
              <div v-if="productFound">
                <div class="mb-3">
                  <label for="update-item-name" class="form-label">Nome do item</label>
                  <input type="text" class="form-control" id="update-item-name" v-model="itemNameUpdate" required disabled>
                </div>

                <div class="mb-3">
                  <label for="update-item-brand" class="form-label">Marca do item</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="itemBrandUpdate" required disabled>
                </div>

                <div class="mb-3">
                  <label for="update-item-weight" class="form-label">Peso do item</label>
                  <input type="text" class="form-control" id="update-item-weight" v-model="itemWeightUpdate" inputmode="numeric" pattern="\d*" required disabled>
                </div>


                <div class="input-group mb-3">
                  <label class="input-group-text" for="update-productUnit">Unidade de medida do produto</label>
                  <select class="form-select" id="update-productUnit" v-model="selectedProductUnitUpdate" disabled>
                    <option disabled value="">Escolha...</option>
                    <option :value="item.title" v-for="item in unitRegister" :key="item.id">{{ item.title }}</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <label class="input-group-text" for="update-category">Categoria do produto</label>
                  <select class="form-select" id="update-category" v-model="selectedCategoryUpdate" disabled>
                    <option disabled value="">Escolha...</option>
                    <option :value="item.title" v-for="item in itemsRegister" :key="item.id">{{ item.title }}</option>
                  </select>
                </div>

              </div>

              <!-- Mensagem de sucesso -->
              <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

              <!-- Mensagem de erro caso o produto não seja encontrado -->
              <div v-else-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Em construção -->

    <!-- Modal Atualizar Produto -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="updateProductLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateProductLabel">Atualizar Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Input para buscar o código de barras -->
              <div class="mb-3">
                <label for="search-code" class="form-label">Código de barras do produto</label>

                <input type="number" class="form-control" id="search-code" placeholder="O código de barras deve conter pelo menos 8 dígitos" v-model="itemCodeSearch" min="10000000" pattern="\d{8,}" title="O código de barras deve conter pelo menos 8 dígitos" pattern="\d*" required>

                <div class="loader-container mb-3">
                  <button type="button" class="btn btn-primary mt-2 buttonPrimary" @click="fetchProductData" v-if="!loadingUpdate">Buscar Produto</button>

                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-succes" role="status" v-show="loadingUpdate">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Exibe os campos de atualização se o produto for encontrado -->
              <div v-if="productFound">
                <div class="mb-3">
                  <label for="update-item-name" class="form-label">Nome do item</label>
                  <input type="text" class="form-control" id="update-item-name" v-model="itemNameUpdate" required>
                </div>

                <div class="mb-3">
                  <label for="update-item-brand" class="form-label">Marca do item</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="itemBrandUpdate" required>
                </div>

                <div class="mb-3">
                  <label for="update-item-weight" class="form-label">Peso do item</label>
                  <input type="text" class="form-control" id="update-item-weight" v-model="itemWeightUpdate" inputmode="numeric" pattern="\d*" required>
                </div>


                <div class="input-group mb-3">
                  <label class="input-group-text" for="update-productUnit">Unidade de medida do produto</label>
                  <select class="form-select" id="update-productUnit" v-model="selectedProductUnitUpdate">
                    <option disabled value="">Escolha...</option>
                    <option :value="item.title" v-for="item in unitRegister" :key="item.id">{{ item.title }}</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <label class="input-group-text" for="update-category">Categoria do produto</label>
                  <select class="form-select" id="update-category" v-model="selectedCategoryUpdate">
                    <option disabled value="">Escolha...</option>
                    <option :value="item.title" v-for="item in itemsRegister" :key="item.id">{{ item.title }}</option>
                  </select>
                </div>




                <!-- Botão para atualizar o produto -->
                <div class="loader-container mb-3">
                  <button type="button" class="btn btn-primary mt-2 buttonPrimary" @click="updateProduct" v-if="!loadingUpdateProduct">Atualizar Produto</button>

                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-succes" role="status" v-show="loadingUpdateProduct">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Mensagem de sucesso -->
              <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

              <!-- Mensagem de erro caso o produto não seja encontrado -->
              <div v-else-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Excluir Produto -->
    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="excludeProductLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="excludeProductLabel">Excluir Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Input para buscar o código de barras -->
              <div class="mb-3">
                <label for="search-code" class="form-label">Código de barras do produto</label>

                <input type="number" class="form-control" id="search-code" placeholder="O código de barras deve conter pelo menos 8 dígitos" v-model="itemCodeSearch" min="10000000" pattern="\d{8,}" title="O código de barras deve conter pelo menos 8 dígitos" pattern="\d*" required>

                <!-- Exibe o botão enquanto o loading é falso -->
                <button class="btn btn-primary mt-2 buttonPrimary" @click="deleteProduct" v-if="!loading">Excluir Produto</button>

                <!-- Exibe o loader enquanto loading é true -->
                <div class="mt-2">
                  <div class="spinner-border text-succes" role="status" v-show="loading">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>

                <!-- Mensagem de sucesso -->
                <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

                <!-- Mensagem de erro -->
                <div v-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>

              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>


    <!-- Card -->
    <div class="containerCard" v-show="!loading">
      <div class="row">
        <div v-for="item in items" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card product-card">
            <img :src="item.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="item.modalID">
                {{ item.button }}
              </button>
              <!-- <a href="#" class="btn btn-primary buttonPrimary" @click="item.callback">{{ item.button }}</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
  </div>
</body>

<script>
  const { createApp } = Vue;

createApp({
  data() {
    return {
      // Main data
      loading: false,
      items: [
        { "title": "Cadastrar", "description": "Cadastre um novo produto", "button": "Cadastrar", "callback": this.modalRegister, "modalID": "#staticBackdrop1", "image": "https://i.imgur.com/YyuYxmw.png"},
        { "title": "Atualizar", "description": "Atualize os dados de um produto já cadastrado", "button": "Atualizar", "callback": this.modalAtualizar, "modalID": "#staticBackdrop2", "image": "https://i.imgur.com/VTpsrS0.png"},
        { "title": "Consultar", "description": "Consulte todos os dados de um produto", "button": "Consultar", "modalID": "#staticBackdrop0", "image": "https://i.imgur.com/f4LkZA2.png"},
        { "title": "Excluir", "description": "Exclua os dados de um produto", "button": "Excluir", "modalID": "#staticBackdrop3", "image": "https://i.imgur.com/c4Qq0O3.png" }
      ],
      // Cadastro de produtos
      isDisabled: false,
      isFetching: false,   // Flag para evitar múltiplas execuções
      isFetchingLoader: false,   // Flag para evitar múltiplas execuções
      fetchingSuccess: false,   // Flag para evitar múltiplas execuções
      debounceTimeout: null, // Timeout para debounce
      itemPlaceholder: 'Digite o nome do item',
      // Register data
      loadingRegister: false,
      loadingUpdate: false,
      loadingSearch: false,
      loadingUpdateProduct: false,
      itemCodeRegister: '',
      productFound: false, // Controla a exibição dos campos de atualização
      itemNameRegister: '',
      itemBrandRegister: '',
      itemWeightRegister: '',
      selectedCategoryRegister: '',
      itemsRegister: [
        { id: 1, title: "Alimento" },
        { id: 2, title: "Higiene/Limpeza" }
      ],
      selectedUnitRegister: '',
      unitRegister: [
        { id: 1, title: "ml (mililitros)" },
        { id: 2, title: "l (litros)" },
        { id: 3, title: "g (gramas)" },
        { id: 4, title: "kg (kilogramas)" }
      ],
      errorMessage: '', // Variável para armazenar a mensagem de erro
      successMessage: '',  // Variável para a mensagem de sucesso
    };
  },
  methods: {
    async fetchApiProductSearch() {
      if (this.isFetching) return; // Prevent multiple executions
      if (String(this.itemCodeRegister).length < 10) return; // Ensure barcode has sufficient length

      this.isFetching = true; // Set fetching flag
      this.isFetchingLoader = true;

      try {
        // Check if the barcode exists in the base
        const barcodeExists = await new Promise((resolve) => {
          google.script.run
            .withSuccessHandler(resolve)
            .checkBarcodeExists(this.itemCodeRegister);
        });

        if (barcodeExists) {
          // If the barcode exists, show an error message and stop further actions
          this.errorMessage = "Este código de barras já existe no catálogo de produtos!";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Clear the message after 4 seconds
          this.isFetchingLoader = false;
          return;
        }

        // If not found in the database, proceed with API search
        await new Promise(resolve => setTimeout(resolve, 1000)); // Simulate delay
        google.script.run
          .withSuccessHandler(this.fetchProductFound)
          .buscarProdutoAPI(this.itemCodeRegister);

      } catch (error) {
        console.error("Error during fetchApiProductSearch:", error);
      } finally {
        // Reset flags regardless of outcome
        this.isFetching = false;
        this.isFetchingLoader = false;
      }
    },
    
    handleInput() {
      // Limpa o timeout anterior para reiniciar o atraso
      clearTimeout(this.debounceTimeout);
      // Define um novo timeout para chamar a função
      this.debounceTimeout = setTimeout(() => {
        this.itemNameRegister = '';
        this.itemBrandRegister = '';
        this.itemWeightRegister = '';
        this.fetchApiProductSearch();
      }, 500); // Atraso de 500ms após o último caractere digitado
    },

    fetchProductFound(data){
      try {
        if("Produto não encontrado, digite os dados manualmente!" === data.nomeProduto){
          this.itemPlaceholder = 'Produto não encontrado, digite os dados manualmente!';
          this.isFetchingLoader = false;
          this.fetchingSuccess = true;
        }
        else {
          this.itemNameRegister = data.nomeProduto;
          this.itemBrandRegister = data.marca;
          const onlyNumbers = data.peso.replace(/\D/g, '');
          this.itemWeightRegister = Number(onlyNumbers);
          this.isFetchingLoader = false;
          this.fetchingSuccess = true;
        }

      } catch (error) {
        console.error(error);
      } finally {
        this.isFetchingLoader = false;
      }
    },

    toggleDisabled() {
      this.isDisabled = !this.isDisabled; // Alterna entre true e false
    },

    onSuccess(loadingType) {
      if(loadingType === "register"){
        setTimeout(() => {
          this.loadingRegister = false;
        }, 1000);
      } 
    },

    async modalRegister() {
      this.loading = true;
      try {
        await google.script.run.withSuccessHandler(this.onSuccess).showModalRegister();
      } catch (error) {
        console.error(error);
        this.loading = false;
      }
    },

    async modalAtualizar() {
      this.loading = true;
      try {
        await google.script.run.withSuccessHandler(this.onSuccess).showModalAtualizar();          
      } catch (error) {
        console.error(error);
        this.loading = false;
      }
    },

    async registerProduct() {
      if (
        !this.itemCodeRegister ||
        !this.itemNameRegister ||
        !this.itemBrandRegister ||
        !this.itemWeightRegister ||
        !this.selectedCategoryRegister ||
        !this.selectedUnitRegister
      ) {
        this.errorMessage = "Por favor, preencha todos os campos antes de cadastrar o produto.";
        setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        return;
      }

      if (
        this.itemCodeRegister < 10000000       
      ) {
        this.errorMessage = "O código de barras deve ter pelo menos oito dígitos.";
        setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        return;
      }

      this.errorMessage = '';

      google.script.run.withSuccessHandler((barcodeExists) => {
        if (barcodeExists) {
          this.errorMessage = "O código de barras já existe. Insira um código diferente.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
          return;
        } else {
          this.registerProductInBackend();
        }
      }).checkBarcodeExists(this.itemCodeRegister);
    },

    async registerProductInBackend() {
      this.loadingRegister = true;

      await google.script.run.withSuccessHandler(() => {
        this.onSuccess("register");
        this.successMessage = "Produto cadastrado com sucesso!";
        setTimeout(() => { this.successMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        this.fetchingSuccess = false;
      }).registerProduct(
        this.itemCodeRegister,
        this.itemNameRegister,
        this.itemBrandRegister,
        this.selectedCategoryRegister,
        this.itemWeightRegister,
        this.selectedUnitRegister
      ); 
      
      this.itemCodeRegister = '';
      this.itemNameRegister = '';
      this.itemBrandRegister = '';
      this.itemWeightRegister = '';
      this.selectedCategoryRegister = '';
      this.selectedUnitRegister = '';
    },

   async fetchProductData() {
      this.loadingSearch = true;
      this.loadingUpdate = true;
      // this.loading = true;
      this.errorMessage = "";

      try {
          // Realiza a chamada para buscar o produto
          await google.script.run.withSuccessHandler(this.handleProductData).fetchProductByCode(this.itemCodeSearch);
          // setTimeout(() => {
            //  this.loadingUpdate = false;  // Desativa o loader após 4 segundos
          //  }, 4000);
          //this.loadingUpdate = false;
        } catch (error) {
          console.error(error);
          this.errorMessage = "Erro ao buscar produto.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        }
    },

    handleProductData(data) {
      this.loadingSearch = false;
      if (data && data !== null) {
          this.rowToUpdate = data.row;
          this.itemCodeUpdate = data.itemCode;
          this.itemNameUpdate = data.itemName;
          this.itemBrandUpdate = data.itemBrand;
          this.itemWeightUpdate = data.itemWeight;
          this.selectedCategoryUpdate = data.selectedCategory;
          this.selectedProductUnitUpdate = data.selectedProductUnit;
          this.productFound = true;
      } else {
          this.errorMessage = "Produto não encontrado.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
          this.loadingUpdate = false;
      }
      this.loadingUpdate = false;

    },

    async updateProduct() {
      this.loadingUpdateProduct = true;
      if (
          !this.itemCodeUpdate ||
          !this.itemNameUpdate ||
          !this.itemBrandUpdate ||
          !this.itemWeightUpdate ||
          !this.selectedCategoryUpdate ||
          !this.selectedProductUnitUpdate
      ) {
          this.errorMessage = "Por favor, preencha todos os campos antes de atualizar o produto.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
          return;
      }

      //this.loading = true;

      await google.script.run.withSuccessHandler(() => {
        this.loading = false;
        this.loadingUpdateProduct = false;
        this.successMessage = "Produto atualizado com sucesso!";
        setTimeout(() => { this.successMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
      }).updateProductInDatabase(
        this.rowToUpdate,
        this.itemCodeUpdate,
        this.itemNameUpdate,
        this.itemBrandUpdate,
        this.selectedCategoryUpdate,
        this.itemWeightUpdate,
        this.selectedProductUnitUpdate
      );
      setTimeout(() => { this.loadingUpdateProduct = ''; }, 2000); // Limpa a mensagem após 4 segundos
    },

    async deleteProduct() {
      this.loading = true;
      this.errorMessage = "";

      google.script.run.withSuccessHandler(this.handleDeleteProduct).fetchProductByCode(this.itemCodeSearch);
    },

    handleDeleteProduct(data) {
      if (data) {
        google.script.run.withSuccessHandler(() => {
          this.loading = false;
          this.successMessage = "Produto deletado com sucesso!";
          setTimeout(() => { this.successMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        }).excludeProductInDatabase(
          data.row
        );

      } else {
          this.loading = false;
          this.errorMessage = "Produto não encontrado.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
      }
    }
  }
}).mount('#app-menu');
</script>



</html>
