<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <title>Menu</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <style>
    .containerCard {
      display: flex;
      justify-content: center;
      align-items: flex-start; /* Ajusta a posição no eixo vertical */
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch; /* Garante que todos os cards tenham a mesma altura */
        height: 100%; /* Isso vai fazer todos os cards terem a mesma altura */
        min-height: 380px;
        max-width: 18rem;
        width: auto;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    
    .card-img-top {
      width: 100%;
      height: 50%;
      /* Limita a altura da imagem */
      object-fit: cover;
      /* Garante que a imagem se ajuste sem distorção */
      background-color: #B6E094;
    }

    .card-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }



    .buttonPrimary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 30%;
    }

    /* Ajuste responsivo para os cards */
    @media (max-width: 768px) {
      .product-card {
        width: 200px;
        height: 250px;
      }
    }
  </style>
</head>

<body>
  <div id="app-menu" class="d-flex flex-column justify-content-center align-items-center min-vh-100">

    <!-- Modal Registrar -->
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Inputs de produto -->
              <div class="mb-3">
                <label for="item-code" class="form-label">Código de barras do produto</label>
                <input type="number" class="form-control" id="item-code" placeholder="Digite o código de barras" v-model="itemCodeRegister"
                min="10000000" pattern="\d{8,}" title="O código de barras deve conter pelo menos 8 dígitos" pattern="\d*" required>
              </div>

              <div class="mb-3">
                <label for="item-quantity" class="form-label">Quantidade</label>
                <input type="number" class="form-control" id="item-quantity" placeholder="Digite a quantidade" v-model="itemQuantityRegister"
                min="1" title="A quantidade do produto deve ser um número inteiro maior que zero" pattern="\d*" required>
              </div>

              <div class="mb-3">
                  <label for="update-item-hour" class="form-label">ID da Campanha</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="campaignId" required disabled>
                </div>

              <!-- Mensagem de sucesso -->
              <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

              <!-- Mensagem de erro -->
              <div v-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>


              <!-- Loader ou botão de cadastro -->
              <div class="loader-container mb-3">
                <!-- Exibe o botão enquanto o loading é falso -->
                <button type="button" class="btn btn-primary mt-2 buttonPrimary" @click="registerProductInRecordSheet" v-if="!loadingRegister">
                  Registrar produto
                </button>

                <!-- Exibe o loader enquanto loading é true -->
                <div class="d-flex justify-content-center">
                  <div class="spinner-border text-succes" role="status" v-show="loadingRegister">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>
    <!-- Modal Registrar -->

    <!-- Modal Consultar Produto -->
    <div class="modal fade" id="staticBackdrop0" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateProductLabel">Consultar Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
               <!-- Input para buscar o código de barras -->
              <div class="mb-3">
                <label for="search-code" class="form-label">Código de barras do produto</label>
                <input type="text" class="form-control" id="search-code" placeholder="Digite o código de barras"
                      v-model="itemCodeSearch" inputmode="numeric" pattern="\d*" required>
                
                <div class="loader-container mb-3">
                  <button class="btn btn-primary mt-2 buttonPrimary" @click="fetchProductData" v-if="!loadingSearch">Buscar Produto</button>

                  <!-- Exibe o loader enquanto loading é true -->
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-succes" role="status" v-show="loadingSearch">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Exibe os campos de atualização se o produto for encontrado -->
              <div v-if="productFound">
                <div class="mb-3">
                  <label for="update-item-name" class="form-label">Código do item</label>
                  <input type="text" class="form-control" id="update-item-name" v-model="itemCodeUpdate" required disabled>
                </div>

                <div class="mb-3">
                  <label for="update-item-brand" class="form-label">Quantidade do item</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="itemQuantity" required>
                </div>

                <div class="mb-3">
                  <label for="update-item-hour" class="form-label">Hora de inserção</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="itemInsertHour" required disabled>
                </div>

                <div class="mb-3">
                  <label for="update-item-hour" class="form-label">ID da Campanha</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="campaignId" required disabled>
                </div>

              </div>

              <!-- Mensagem de sucesso -->
              <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

              <!-- Mensagem de erro caso o produto não seja encontrado -->
              <div v-else-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Em construção -->

    <!-- Modal Atualizar Produto -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="updateProductLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateProductLabel">Atualizar Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Input para buscar o código de barras -->
              <div class="mb-3">
                <label for="search-code" class="form-label">Código de barras do produto</label>
                <input type="text" class="form-control" id="search-code" placeholder="Digite o código de barras"
                      v-model="itemCodeSearch" inputmode="numeric" pattern="\d*" required>
                <button class="btn btn-primary mt-2 buttonPrimary" @click="fetchProductData" v-if="!loadingUpdateProductData">Buscar Produto</button>
              </div>

              <!-- Exibe o loader enquanto loading é true -->
              <div class="d-flex justify-content-center">
                <div class="spinner-border text-succes" role="status" v-show="loadingUpdateProductData">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>

              <!-- Exibe os campos de atualização se o produto for encontrado -->
              <div v-if="productFound">
                <div class="mb-3">
                  <label for="update-item-name" class="form-label">Código do item</label>
                  <input type="text" class="form-control" id="update-item-name" v-model="itemCodeUpdate" required disabled>
                </div>

                <div class="mb-3">
                  <label for="update-item-brand" class="form-label">Quantidade do item</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="itemQuantity" required>
                </div>

                <div class="mb-3">
                  <label for="update-item-hour" class="form-label">Hora de inserção</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="itemInsertHour" required disabled>
                </div>

                <div class="mb-3">
                  <label for="update-item-hour" class="form-label">ID da Campanha</label>
                  <input type="text" class="form-control" id="update-item-brand" v-model="campaignId" required disabled>
                </div>

                <!-- Mensagem de sucesso -->
                <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

                <!-- Mensagem de erro caso o produto não seja encontrado -->
                <div v-else-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>

                <!-- Botão para atualizar o produto -->
                <button class="btn btn-success w-100" @click="updateProduct">Atualizar Produto</button>
              </div>

              <!-- Mensagem de erro caso o produto não seja encontrado -->
                <div v-else-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Excluir Produto -->
    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="excludeProductLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="excludeProductLabel">Excluir Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <!-- Input para buscar o código de barras -->
              <div class="mb-3">
                <label for="search-code" class="form-label">Código de barras do produto</label>
                <input type="text" class="form-control" id="search-code" placeholder="Digite o código de barras"
                      v-model="itemCodeSearch" inputmode="numeric" pattern="\d*" required>

                <!-- Exibe o botão enquanto o loading é falso -->
                <button class="btn btn-primary mt-2 buttonPrimary" @click="deleteProduct" v-if="!loading">Excluir Produto</button>

                <!-- Exibe o loader enquanto loading é true -->
                <div class="mt-2">
                  <div class="spinner-border text-succes" role="status" v-show="loading">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>

                <!-- Mensagem de sucesso -->
                <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

                <!-- Mensagem de erro -->
                <div v-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>

              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>

        </div>
      </div>
    </div>


    <!-- Card -->
    <div class="containerCard" v-show="!loading">
      <div class="row">
        <div v-for="item in items" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card product-card">
            <img :src="item.image" class="card-img-top" alt="...">
            <div class="card-body">

              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="item.modalID">
                {{ item.button }}
              </button>
              <!-- <a href="#" class="btn btn-primary buttonPrimary" @click="item.callback">{{ item.button }}</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
  </div>
</body>

<script>
  const { createApp } = Vue;

createApp({
  data() {
    return {
      // Main data
      loading: false,
      items: [
        { "title": "Registrar", "description": "Registre a arrecadação de um novo produto", "button": "Registrar", "callback": this.modalRegister, "modalID": "#staticBackdrop1", "image": "https://i.imgur.com/YyuYxmw.png"},
        { "title": "Atualizar", "description": "Atualize os dados de produtos registrado", "button": "Atualizar", "callback": this.modalAtualizar, "modalID": "#staticBackdrop2", "image": "https://i.imgur.com/VTpsrS0.png"},
        { "title": "Consultar", "description": "Consulte os dados de produtos registrados", "button": "Consultar", "modalID": "#staticBackdrop0", "image": "https://i.imgur.com/f4LkZA2.png"},
        { "title": "Excluir", "description": "Exclua produtos da tabela de registro", "button": "Excluir", "modalID": "#staticBackdrop3", "image": "https://i.imgur.com/c4Qq0O3.png" }
      ],
      
           // Register data
      loadingRegister: false,
      loadingSearch: false,
      loadingUpdateProductData: false,
      itemCodeRegister: '',
      productFound: false, // Controla a exibição dos campos de atualização
      itemNameRegister: '',
      itemBrandRegister: '',
      itemWeightRegister: '',
      itemQuantityRegister: '',
      selectedCategoryRegister: '',
      itemCodeUpdate: '',
      itemQuantity: '',
      itemInsertHour: '',
      campaignId: '', 
      itemsRegister: [
        { id: 1, title: "Alimento" },
        { id: 2, title: "Higiene/Limpeza" }
      ],
      errorMessage: '', // Variável para armazenar a mensagem de erro
      successMessage: '',  // Variável para a mensagem de sucesso
    };
  },
  
  created() {
    // Busca o valor estático do Apps Script ao criar o componente
    google.script.run.withSuccessHandler((value) => {
      this.campaignId = value; // Atualiza com o valor retornado
    }).getLastCampaignValue();
  },

  methods: {

    onSuccess(loadingType) {
      if(loadingType === "register"){
        setTimeout(() => {
          this.loadingRegister = false;
        }, 1000);
      } 
    },

    async modalRegister() {
      this.loading = true;
      try {
        await google.script.run.withSuccessHandler(this.onSuccess).showModalRegister();
      } catch (error) {
        console.error(error);
        this.loading = false;
      }
    },

    async modalAtualizar() {
      this.loading = true;
      try {
        await google.script.run.withSuccessHandler(this.onSuccess).showModalAtualizar();          
      } catch (error) {
        console.error(error);
        this.loading = false;
      }
    },

    async registerProductInRecordSheet() {      
      this.loadingRegister = true;
      if (
        !this.itemCodeRegister ||
        !this.itemQuantityRegister
      ) {
        this.errorMessage = "Por favor, preencha todos os campos antes de registrar o produto.";
        setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        this.loadingRegister = false;
        return;
      }

      if (
        this.itemCodeRegister < 10000000       
      ) {
        this.errorMessage = "O código de barras deve ter pelo menos oito dígitos.";
        setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        this.loadingRegister = false;
        return;
      }

      this.errorMessage = '';     

      google.script.run.withSuccessHandler((barcodeExists) => {
        if (!barcodeExists) {
          this.errorMessage = "O código de barras não existe. Cadastre o código";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
          this.loadingRegister = false;
          return;
        } else {
          this.registerProductInBackend();
        }
      }).checkBarcodeExists(this.itemCodeRegister);
    },

    async registerProductInBackend() {
      await google.script.run.withSuccessHandler(() => {
        this.onSuccess("register");
        this.successMessage = "Produto registrado com sucesso!";
        setTimeout(() => { this.successMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        this.loadingRegister = false;
      }).registerProductInRecordSheet(
        this.itemCodeRegister,
        this.itemQuantityRegister, 
        this.campaignId,
      );    
      this.itemCodeRegister = '';
      this.itemQuantityRegister = '';
    },

    async fetchProductData() {
      this.loadingUpdateProductData = true;
      this.loadingSearch = true;
      this.errorMessage = "";

      await google.script.run.withSuccessHandler(this.handleProductData).searchLastInsertedItem(this.itemCodeSearch);
    },

    handleProductData(data) {
      this.loadingSearch = false;
      if (data && data !== null) {
          this.rowToUpdate = data.row;
          this.itemCodeUpdate = data.itemCode;          
          this.itemQuantity = data.itemQuantity;
          this.itemInsertHour = data.itemInsertHour;
          this.campaignId = data.campaignId
          this.productFound = true;
      } else {
          this.errorMessage = "Produto não encontrado.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
          this.loadingUpdateProductData = false;
      }
      this.loadingUpdateProductData = false;
    },

    async updateProduct() {
      if (         
          this.itemQuantity<=0     
      ) {
          this.errorMessage = "Por favor, preencha todos os campos antes de atualizar o produto.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
          return;
      }

      this.loading = true;

      await google.script.run.withSuccessHandler(() => {
        this.loading = false;
        this.successMessage = "Produto atualizado com sucesso!";
        setTimeout(() => { this.successMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
      }).updateProductInRecordSheet(
        this.rowToUpdate,
        this.itemCodeUpdate,
        this.itemQuantity,
        this.itemInsertHour,
        this.campaignId
      );
    },

    async deleteProduct() {
      this.loading = true;
      this.errorMessage = "";

      google.script.run.withSuccessHandler(this.handleDeleteProduct).searchLastInsertedItem(this.itemCodeSearch);
    },

    handleDeleteProduct(data) {
      if (data) {
        google.script.run.withSuccessHandler(() => {
          this.loading = false;
          this.successMessage = "Produto deletado com sucesso!";
          setTimeout(() => { this.successMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
        }).excludeProductInDatabaseRegistro(
          data.row
        );

      } else {
          this.loading = false;
          this.errorMessage = "Produto não encontrado.";
          setTimeout(() => { this.errorMessage = ''; }, 4000); // Limpa a mensagem após 4 segundos
      }
    },

  } 
    
}).mount('#app-menu');
</script>



</html>